.lc-bold {
    color: var(--c10) !important;
}


main {
    article:not(.lc-landscape) {

        filter: drop-shadow(0px 0px 0px 5px black);

        margin: 2.5rem 0 !important;
        width: 65%;

        .lc-search {
            width: 85%;
            margin: auto !important;
            margin-top: 1.5rem !important;
        }

        .img-wrapper {
            position: relative;
            .main-img, .blur-img {
                width: 100%;
                display: block;
                border-radius: 25%;
                margin: auto !important;
            }

            .main-img {
                z-index: 2;
                position: relative;
            }
    
            .blur-img {
                position: absolute;
                top: 0;
                filter: blur(5px);
            }
        }
    }

    .lc-landscape {
        position: relative;
        .landscape-text {
            display: flex;
            position: absolute;
            flex-flow: column;
            width: fit-content; height: fit-content;
            font-family: "Montserrat" !important;
            
            p {
                color: var(--c30) !important;
                text-align: left;
            }

            top: 35%;

            transform: translateX(50%) translateY(-50%);

            h1 {
                text-shadow: 0px 0px 5px black;
                color: var(--c30) !important;
                width: 100%;
                text-align: center; 
            }

            button {
                margin-top: 1rem !important;
                display: block;
                margin: auto;
                width: fit-content;
                strong {
                    font-size: 1.5rem !important;
                }
            }
            
        }
    }

    lc-map {
        height: 70vh;
    }
}
