<main>
    <article class="lc-landscape">
        <img src="/assets/images/landscape.png" alt="">
    </article>
    <article class="row justify-content-around lc-card">
        <section class="col-4 ">
            <h1>Titlo grande</h1>
            <h2>The long wait is over</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo quas ab ex quo voluptates quis provident officiis ea, maxime deleniti? Non, neque? Voluptatibus soluta rerum vitae, architecto error odio!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo quas ab ex quo voluptates quis provident officiis ea, maxime deleniti? Non, neque? Voluptatibus soluta rerum vitae, architecto error odio!</p>
            <button class="lc-button">Leer más</button>
        </section>
        <section class="col-6 ">
            
            <div class="img-wrapper">
                <img class="main-img" src="/assets/images/landing-1.png" alt="">
                <img class="blur-img" src="/assets/images/landing-1.png" alt="">
            </div>
            <div class="lc-search">
                <input placeholder="Encuentra el local"  type="search">
            </div>
        </section>
    </article>
    <article class="row lc-card">
        <h1 class="text-center" >Locales afiliados</h1>
        <h2 class="text-center my-0" >Cientos de locales en todo el mundo colaboran con nosotros</h2>
        <h2 class="text-center mb-3" >disfruta aquí de sus mejores ofertas</h2>

        <lc-map></lc-map>
    </article>
</main>