<main>
    <article class="row justify-content-around">
        <section class="col-4 card">
            <h1>Titlo grande</h1>
            <h2>The long wait is over</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo quas ab ex quo voluptates quis provident officiis ea, maxime deleniti? Non, neque? Voluptatibus soluta rerum vitae, architecto error odio!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo quas ab ex quo voluptates quis provident officiis ea, maxime deleniti? Non, neque? Voluptatibus soluta rerum vitae, architecto error odio!</p>
            <button class="lc-button">Leer más</button>
        </section>
        <section class="col-6 card">
            <div class="lc-search">
                <input placeholder="Encuentra el local"  type="search">
            </div>
            <img src="/assets/icons/map.png" alt="">
        </section>
    </article>
    <lc-map></lc-map>
</main>