article {
    display: flex;
    flex-flow: row;
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--c60);
    border: 2.5px solid var(--c10);

    .icon {
        width:  64px;
        height: 64px;

        img {
            width: 100%;
            height: auto;
            
        }
    }

    .info {
        display: flex;
        flex-flow: column;
        justify-content: space-around;


        .offer {
            color: var(--c10) !important;
        }

        .name {
        }
    }
}