* {
    margin: 0 !important;
    color: var(--cFont) !important;
}

// Paleta de color

:root {
    --c60: #212122;
    --c30: #1b1b1b;
    --c10: #56C3d3;
    --cFont: rgb(236, 234, 222);
}

h1 {
    margin-bottom: 1rem !important;
    color: var(--c10) !important;
}

h2 {
    margin-bottom: .5rem !important;
}

p {
    margin-bottom: .5rem !important;
}

.lc-button {
    color: var(--c10) !important;
    border: 2.5px solid var(--c10);
    background-color: transparent;
    padding: 1rem;
    border-radius: 1rem;

    &:hover {
        color: var(--c60) !important;
        border-color: transparent;
        background-color: var(--c10);
        transition: all .25s;
    }

}

.lc-input {
    position: relative;
    background-color: var(--c30);
    color: var(--c10);
    border: 3px solid var(--c10);
    border-radius: 1rem;
    padding: 0 1rem;
    height: 2.5rem;
    display: flex;
    align-items: center;

    &:focus {
        outline: none !important;
        filter: drop-shadow(0px 0px 10px var(--c10));
        transition: filter .5s;
    }
}

.lc-search {
    position: relative;
    background-color: var(--c30);
    color: var(--c10);
    border: 3px solid var(--c10);
    border-radius: 1rem;
    padding: 0 1rem;
    height: 2.5rem;
    display: flex;
    align-items: center;

    input {
        width: 100%;
        padding-right: 3rem;
        background-color: transparent;
        border: none;

        &:focus {
            outline: none !important;
        }
    }

    &::after {
        content: "";
        background-image: url(assets/icons/search.png);
        position: absolute;
        height: 20px;
        z-index: 10;
        width: 20px;
        background-size: contain;
        right: 0;
        transform: translateX(-50%);
        background-repeat: no-repeat;
    }

}

.lc-card {
    background-color: var(--c30);
    border-radius: 1.5rem;
    border-radius: 1.5rem;
    padding: 1.5rem !important;
}

.lc-landscape {
    img {
        width: 100%;
    }
}

// LEAFLET

.leaflet-bar {
    border: none !important;
}

.leaflet-left {
    left: 5px !important;
}

.leaflet-top {
    top: 5px !important;
}

.leaflet-control-zoom-in {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    border: 2px solid transparent !important;
}

.leaflet-control-zoom-out {
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
    border: 2px solid transparent !important;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    background-color: var(--c60) !important;
    cursor: pointer !important;

    &:hover {
        transition: all .25s;
        border: 2px solid var(--c60) !important;
        span {
            color: var(--c60) !important;
        }

        background-color: var(--c10) !important;
    }

    span {
        width: fit-content;
        display: block;
        margin: auto !important;
    }
}

// Modal

.modal-dialog {
    margin: 5% auto !important;
    
    .modal-content {
        padding: 2rem 0;
        background-color: var(--c60);
    }
}