
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$localCommerce-primary: mat.define-palette(mat.$indigo-palette);
$localCommerce-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$localCommerce-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$localCommerce-theme: mat.define-light-theme((
  color: (
    primary: $localCommerce-primary,
    accent: $localCommerce-accent,
    warn: $localCommerce-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($localCommerce-theme);

*:not(img) {
    color: var(--cFont) !important;
    font-family: "Arimo";
}

// Paleta de color

:root {
    --c60: #FFFAE8;
    --c30: #fff0cb;
    --c10: #42bb20;
    --cFont: #1b1b1b;

}

.lc-content {
    width: 80%;
    margin: 80px 0 !important;
    height: calc(100vh - 160px);

    .row {
        width: 100% !important;
        margin: auto;
    }
}

.lc-link {
    color: var(--c10) !important;
    cursor: pointer;
}

html {
    background-color: var(--c30);
}

* {
    font-family: "Outfit" !important;
}

h1 {
    color: var(--c10) !important;
    font-family: "Montserrat" !important;
    font-size: 5rem !important;
    line-height: 85% !important;
}

h2 {
    font-family: "Montserrat" !important;
    margin-bottom: .5rem !important;
}

p {
    margin-bottom: .5rem !important;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: relative;
    background-color: var(--c60);
}

.lc-bg {
    background-color: var(--c60);
    opacity: 1;
    background-image:  radial-gradient(var(--c30) 5px, transparent 2px), radial-gradient(var(--c30) 2px, var(--c60) 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
}

.lc-button {
    color: var(--c10) !important;
    border: 2.5px solid var(--c10);
    background-color: var(--c30);
    padding: 1rem;
    border-radius: 1rem;

    &:hover {
        color: var(--c60) !important;
        border-color: transparent;
        background-color: var(--c10);
        transition: all .25s;
    }

}

.lc-input {
    position: relative;
    background-color: var(--c60);
    color: var(--c10);
    border: 3px solid var(--c10);
    border-radius: 1rem;
    padding: 0 1rem;
    height: 2.5rem;
    display: flex;
    align-items: center;

    &:focus, &:hover {
        outline: none !important;
        filter: drop-shadow(0px 0px 10px var(--c10));
        transition: filter .5s;
    }
}

.lc-search {
    position: relative;
    background-color: var(--c30);
    color: var(--c10);
    border: 3px solid var(--c10);
    border-radius: 1rem;
    padding: 0 1rem;
    height: 2.5rem;
    display: flex;
    align-items: center;

    input {
        width: 100%;
        padding-right: 3rem;
        background-color: transparent;
        border: none;

        &:focus {
            outline: none !important;
        }
    }

    &::after {
        content: "";
        background-image: url(assets/images/icons/search.png);
        position: absolute;
        height: 20px;
        z-index: 10;
        width: 20px;
        background-size: contain;
        right: 0;
        transform: translateX(-50%);
        background-repeat: no-repeat;
    }

}

.lc-card {
    background-color: var(--c30);
    border-radius: 1.5rem;
    border-radius: 1.5rem;
    padding: 1.5rem !important;
    filter: drop-shadow(0px 0px 10px rgb(34, 34, 34));
}

.lc-landscape {
    overflow: hidden;
    height: 100vh;
    border-bottom: 2.5px solid var(--c10);
    img {
        width: 100%;
    }
}

.lc-border {
    border: 3.5px solid var(--c10)
}

// LEAFLET

.leaflet-popup-content-wrapper {
    background-color: var(--c60) !important;
    border: 5px solid var(--c10) !important;
    width: fit-content; 
}

.leaflet-popup-tip {
    background-color: var(--c10) !important;
}

.leaflet-popup-close-button {

    top: .25rem !important;
    right: .25rem !important;

    & > * {
        font-weight: bold;
        font-size: larger;
        color: var(--c10) !important;
    }
}

.leaflet-popup-content {
    width: auto !important;

    p {
        text-align: center !important; 
        font-size: 1rem !important;
    }

    .name-container {
        display: flex;
        flex-flow: row;
        align-items: center;

        h1 {
            white-space: nowrap !important;
            display: block;
            height: fit-content;
            margin-left: 1rem;
            margin-bottom: 0 !important;
            font-size: 3rem !important;
        }

        .image-container {
            align-items: center;
            display: flex;
            width: 60px;
            height: 60px;
            background-color: var(--c30);
            border-radius: 50%;
            overflow: hidden;
            padding: .65rem;
            
            img {
                width: 100%;
                display: block;
                margin: auto;

            }
        }
    }
}

.leaflet-bar {
    border: none !important;
}

.leaflet-left {
    left: 5px !important;
}

.leaflet-top {
    top: 5px !important;
}

.leaflet-control-zoom-in {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    border: 2px solid transparent !important;
}

.leaflet-control-zoom-out {
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
    border: 2px solid transparent !important;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    background-color: var(--c60) !important;
    cursor: pointer !important;

    &:hover {
        transition: all .25s;
        border: 2px solid var(--c60) !important;
        span {
            color: var(--c60) !important;
        }

        background-color: var(--c10) !important;
    }

    span {
        width: fit-content;
        display: block;
        margin: auto !important;
    }
}

// Modal

.modal-dialog {
    margin: 5% auto !important;
    
    .modal-content {
        display: flex;
        justify-content: center;
        padding: 2rem 0;
        background-color: var(--c30);
    }
}
