<main class="lc-bg">
    <article class="lc-landscape">
        <img src="/assets/images/landscape.png" alt="">
    </article>
    <article class="row justify-content-around lc-card">
        <section class="col-12 col-md-4 mt-4">
            <h1>Titlo grande</h1>
            <h2>The long wait is over</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo quas ab ex quo voluptates quis provident officiis ea, maxime deleniti? Non, neque? Voluptatibus soluta rerum vitae, architecto error odio!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo quas ab ex quo voluptates quis provident officiis ea, maxime deleniti? Non, neque? Voluptatibus soluta rerum vitae, architecto error odio!</p>
        </section>
        <section class="col-12 col-md-6 mt-4">
            
            <div class="img-wrapper">
                <img class="main-img" src="/assets/images/landing-1.png" alt="">
                <img class="blur-img" src="/assets/images/landing-1.png" alt="">
            </div>

        </section>
    </article>
    <article class="row lc-card">
        <h1 class="text-center mt-4" >Afilia tu local</h1>
        <h2 class="text-center my-0" >Lorem, ipsum dolor sit amet consectetur adipisicing.</h2>
        <section class="join">
            <ng-container *ngIf="!isLoged">
                <div class="blurry">
                    <button class="lc-button" (click)="openLoginModal()" >Inicia sesión</button>
                </div>
            </ng-container>
            <form [formGroup]="regForm" (submit)="register()" [ngClass]="{ blurryForm: !isLoged }">
                <label for="name">Nombre</label>
                <input id="name" #name class="lc-input" formControlName="name" type="text"     placeholder="Nombre">
                
                <label for="user">Usuario</label>
                <input id="user" #user class="lc-input" formControlName="user" type="text"     placeholder="Usuario">
                
                <label for="pass">Contraseña</label>
                <input id="pass" #pass class="lc-input" formControlName="pass" type="password" placeholder="Contraseña">
                
                <button [disabled]="!isLoged" class="lc-button">Regístrate</button>
            </form>
        </section>
    </article>
</main>

