<main class="lc-bg">
    <article class="lc-card lc-content">
        <h1 class="text-center mt-4" >Afilia tu local</h1>
        <h2 class="text-center my-0" >Lorem, ipsum dolor sit amet consectetur adipisicing.</h2>
        <section class="join">
            <ng-container *ngIf="!isLoged">
                <div class="login">
                    <div class="blurry-btn">
                        <button class="lc-button" (click)="openLoginModal()" >Inicia sesión</button>
                    </div>
                </div>
            </ng-container>
            <div class="form-map row" [ngClass]="{blurry: !isLoged}" >
                <form class="col-12 col-md-4" [formGroup]="regForm" (submit)="register()" [ngClass]="{ blurryForm: !isLoged }">
                    <label for="name">Nombre</label>
                    <input id="name" #name class="lc-input" formControlName="name" type="text"     placeholder="Nombre">
                    
                    <label for="desc">Descripción</label>
                    <textarea id="desc" #desc class="lc-input" formControlName="desc" type="text"     placeholder="Descripción"></textarea>
                    
                    <label for="location">Dirección</label>
                    <input id="location" #location (change)="updatePreview()" class="lc-input" formControlName="location" type="text" placeholder="Dirección">
                    
                    <label for="type"> Tipo de comercio </label>
                    <div #type placement="end" ngbDropdown container="body">
                        <button type="button" class="lc-input" id="dropdownBasic1" ngbDropdownToggle>
                            {{getLocalTypeString(selectedType)}}
                        </button>
                        <div ngbDropdownMenu class="dropdown">
                            <button type="button" (click)="selectedType = 'coffee'"  ngbDropdownItem>Cafetería</button>
                            <button type="button" (click)="selectedType = 'bar'"     ngbDropdownItem>Gastronomía</button>
                            <button type="button" (click)="selectedType = 'books'"   ngbDropdownItem>Librería</button>
                            <button type="button" (click)="selectedType = 'clothes'" ngbDropdownItem>Moda</button>
                            <button type="button" (click)="selectedType = 'fruit'"   ngbDropdownItem>Frutería</button>
                            <button type="button" (click)="selectedType = 'bread'"   ngbDropdownItem>Panadería</button>
                        </div>
                    </div>
                    <button [disabled]="!isLoged" class="lc-button">Regístrate</button>
                </form>
                <lc-map class="col-12 col-md-8" [preview]="preview" ></lc-map>
            </div>
        </section>
    </article>
</main>

