<footer>
    <article class="row py-3 justify-content-around">
        <section class="col-7 text-center">
            <div class="lc-card lc-border">
                <h2>Atención al cliente</h2>
                <p>Numero de teléfono: </p>
                <p>Dirección: </p>
            </div>
        </section>
        <section class="col-4 text-center">
            <div class="lc-card lc-border">
                <h2>Redes sociales</h2>
                <p>X:</p>
                <p>Instagram:</p>
            </div>
        </section>
    </article>
</footer>
