<footer>
    <article class="row py-3 justify-content-around">
        <section class="col-7 text-center">
            <div class="lc-card lc-border">
                <h2>Atención al cliente</h2>
                <p>Numero de teléfono: +91 *** ** ** **</p>
                <p>E-Mail: support@vili.com</p>
            </div>
        </section>
        <section class="col-4 text-center">
            <div class="lc-card lc-border">
                <h2>Redes sociales</h2>
                <div class="rrss">
                    <img src="/assets/images/twitter.png" alt="Twitter / X">
                    <img src="/assets/images/instagram.png" alt=" Instagram ">
                </div>
            </div>
        </section>
    </article>
</footer>
