.inputs {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto !important;

    .lc-input {
        margin: .25rem 0 !important;
    }
    
    .lc-button {
        width: 100%;
        height: 2.5rem;
        margin: .25rem 0 !important;
        padding: 0;
    }
}