<div class="login">    
    <ng-container [ngTemplateOutlet]=" isLoged ? logedIn : logedOut"></ng-container>
</div>

<ng-template #logedOut>
    <form [formGroup]="loginForm" (submit)="login()">
        <h1 class="text-center">Inicio de sesión</h1>
        <div class="inputs">
            <input id="user" #user class="lc-input" formControlName="user" type="text"     placeholder="Usuario">
            <input id="pass" #pass class="lc-input" formControlName="pass" type="password" placeholder="Contraseña">
            <button class="lc-button">Log in</button>
        </div>
    </form>
</ng-template>

<ng-template #logedIn>
    <section class="profile">
        <h1 class="text-center">Perfil</h1>
        <p class="user text-center">{{this.user!.name}}</p>
        <button class="pf-button lc-button"  (click)="goTo('profile')" >Perfil</button>
        <button *ngIf="user?.commerce" class="pf-button lc-button"  (click)="goTo('commerce')">Mi comercio</button>
        <button class="logout-btn lc-button" (click)="logout()">Log out</button>
    </section>
</ng-template>