p, img {
    margin: 0 !important;
}

p {
    color: var(--c10) !important;
    font-family: "Montserrat";
}

.lc-button {
    padding: .5rem 1rem !important;
    margin-bottom: 1rem;
    width: 100%;
}

.help {
    height: 100% !important;
    position: relative;

    overflow: auto;
    display: flex;
    flex-flow: column;
    justify-content: start;

    .back {
        position: absolute;
        width: fit-content;
        left: 100%;
        transform: translateX(-100%);

    }
}

.help-icon {
    
    margin-bottom: 1rem;

    &:hover {
        filter: drop-shadow(0px 0px 5px var(--c10));
        cursor: pointer;
        transition: all .5s;
    }

    img {
        margin-bottom: .5rem;
        width: 50%;
    }
}