<router-outlet></router-outlet>
<lc-toast></lc-toast>

<!-- Cookies -->
<ng-container *ngIf="!cookies">
    <div class="cookies">
        <div class="cookieText">
            <p>
                Este sitio web solo utiliza cookies necesarias para su correcto funcionamiento.  
            </p>
            <p>
                Al continuar navegando en este sitio, aceptas el uso de estas cookies.
            </p>
        </div>
        <button class="lc-button" (click)="hideCookies()" >Aceptar</button>

    </div>
</ng-container>
<!-- ------- -->