.lc-container {
    height: 100vh;
    width: 90%;
    padding: 60px 0;

    lc-ticket {
        margin-bottom: 1rem;
    }

    .tickets {
        height: 100%;
        overflow: auto;
        display: flex;
        flex-flow: column;
    }
}