.lc-card {
    margin: 4rem 0;
}

form {
    display: flex;
    flex-direction: column;
    button {
        margin-top: 1.5rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    textarea {
        resize: none;
        height: 10rem;
    }
}